<h3>Tefeci misin ?</h3>
<p>Tefecisin ve denizde kum sende para mı? Borç verdikten sonra borcunu kontrol edmiyor musun? Kazıklanıyorsun fakat farketmediğin zamanlar mı oluyor? </p>
<p>Vurulacaklar listesine kurbanlarını ekle.</p>
<p>Sosyal Ağlar ile giriş yap, istediğin zaman sosyal ağlardan tehdit et. gözdağı ver, ibreti alem olsun.</p>

  <div class="span9">
	<% unless connected_user %>
      <h3>Twitter ile Giriş Yap</h3>
      <a class="btn btn-info" href="auth/twitter">twitter</a>
    <% end %>
    </div>